.calendario-reservas td {
    border-radius: .5rem;
}

.calendario-reservas td.dia-finde {
    background-color: #e9e9e9;
}

.calendario-reservas td.dia-finde .dia-numero {
    font-weight: 700;
}

.calendario-reservas td.dia-reserva {
    background-color: #ffe3c2;
}

.calendario-reservas td.dia-reserva .dia-numero {
    font-weight: 700;
    color: #b45300;
}

.dia-punto {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #b45300;
    margin-left: .25rem;
    vertical-align: middle;
}
